<!-- intro starts -->
<section class="home py-5">
    <div class="container-lg">
        <div class="row  min-vh-100 align-items-center align-content-center">
            <div class="col-md-6  mt-5 mt-md-0">
                <div class="home-img  text-center">
                    <img src="../assets/pic1.png" class="rounded-circle mw-100" alt="profile img" width="300px" height="320px">
                </div>
            </div>
            <div class="col-md-6  mt-5 mt-md-0 order-md-first">
                <div class="home-text">
                <p class="text-muted ">Hello I'm</p>
                <div class="waviy text-danger fs-1 fw-bold">
                    <span style="--i:1">f</span>
                    <span style="--i:2">u</span>
                    <span style="--i:3">l</span>
                    <span style="--i:4">l</span>
                    <span style="--i:5">s</span>
                    <span style="--i:6">t</span>
                    <span style="--i:7">a</span>
                    <span style="--i:8">c</span>
                    <span style="--i:9">k</span>
                  &nbsp;
                    <span style="--i:10">d</span>
                    <span style="--i:11">e</span>
                    <span style="--i:12">v</span>
                    <span style="--i:13">e</span>
                    <span style="--i:14">l</span>
                    <span style="--i:15">o</span>
                    <span style="--i:16">p</span>
                    <span style="--i:17">e</span>
                    <span style="--i:18">r</span>
                   </div>
                   <br>
                <h2 class="fs-4">Sherbin S</h2>
                <p class="text-muted">I am pursuing my B.E.Computer Science and Engineering in JCT College
                    Of Engineering And Technology - coimbatore . I am working daily in
                    developing my coding skills and working towards my career
                    </p>
                  </div>
            </div>
        </div>
    </div>
</section>
<!-- intro ends -->