<section class="myprojects py-5" id="myprojects">
   <div class="container-lg py-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="section-tittle text-center">
                <h2 class="fw-bold mb-5">
                  Project Works <i class="fa-solid fa-code"></i>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="project-item">
                <img src="../assets/pic3.png" class="w-100 img-thumbnail">
                <h3 class="text-capitalize fs-5 my-2">Medi-tech</h3>
                <p class="text-muted">This project is done for the purpose of interconnect 
                    the medical and technologies  together to help the 
                    people who are in need of medical emergency and mental issues
                </p>
                  <p><a href="" class="text-danger text-decoration-none" >Vist</a></p>  
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="project-item">
                <img src="../assets/pic5.png" class="w-100 img-thumbnail">
                <h3 class="text-capitalize fs-5 my-2">Quiz-App</h3>
                <p class="text-muted">This is a simple quiz conducting application
                    developed using angular,bootstrap & Spring boot ,this project
                    is responsive and also  available as mobile application
                </p>
                  <p> <a href="https://quiz-data-486c2.web.app/login" class="text-danger text-decoration-none" >Vist</a></p>  
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="project-item">
                <img src="../assets/pic2.png" class="w-100 img-thumbnail">
                <h3 class="text-capitalize fs-5 my-2">laptop booking website</h3>
                <p class="text-muted">I have developed  laptop booking 
                    website using html and css this website is also responsive</p>
                  <p> <a href="https://lapcare.netlify.app/" class="text-danger text-decoration-none" >Vist</a></p>  
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="project-item">
                <img src="../assets/pic5.png" class="w-100 img-thumbnail">
                <h3 class="text-capitalize fs-5 my-2">Employee Crud</h3>
                <p class="text-muted">This was my first Full Stack application
                    developed using angular,bootstrap,spring boot,Hibernate & MySQl.
                    In this project we can add,edit,view,and delete employees data


                </p>
                  <p> <a href="https://employee-crud-9cddd.web.app/employees" class="text-danger text-decoration-none" >Vist</a></p>  
            </div>
        </div>
    </div>
   </div>
</section>