<!-- navbar starts -->
<app-navbar></app-navbar>
<!-- navabar ends -->
<!-- home component starts -->
<app-home></app-home>
<!-- home component ends -->
<!-- about component starts -->
<app-about></app-about>
<!-- about component ends -->
<!-- tool component starts -->
<app-tools></app-tools>
<!-- tool component ends -->
<!-- my project component starts  -->
<app-myprojects></app-myprojects>
<!-- my project component ends -->
<!-- footer starts -->
<app-footer></app-footer>
<!-- footer ends -->
<router-outlet></router-outlet>
