    
 <div class="row justify-content-center">
     <div class="col-lg-8">
         <div class="section-tittle text-center">
             <h2 class="fw-bold mb-5">
                     Contact  <i class="fa-solid fa-phone"></i>
                  </h2>
         </div>
    </div> <!-- Footer -->
     <footer
                class="text-center text-lg-start text-dark"
                style="background-color: #ffffff"
                >
                <div class="foot">
      
          <!-- Section: Social media -->
          <section
                   class="d-flex justify-content-between "
                   >
            <!-- Left -->
            <div class="me-5">
              <h4 class="text-muted">Get connected with me on social networks:</h4>
            </div>
            <!-- Left -->
      
            <!-- Right -->
            <div>
              <a href="https://www.facebook.com/sherbin.sherbin.908 target="_blank class="text-dark me-4">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com/SherbinSr?t=tBiKFolcaP4yCR4TLY2tYg&s=08 target=" class="text-dark me-4">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/in/sherbin-s-07704a249 target=" class="text-dark me-4">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="https://instagram.com/sherbin__sr?utm_medium=copy_link target=" class="text-dark me-4">
                <i class="fab fa-instagram"></i>
              </a>
              
              <a href="https://wa.me/+919677472562?text=Hi%20there%20..." class="text-dark me-4">
                <i class="fab fa-whatsapp"></i>
              </a>
              <a href="https://github.com/sherbinsr" class="text-dark me-4">
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
            <!-- Right -->
          </section>
          <!-- Section: Social media -->
      
          <!-- Section: Links  -->
          <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                   <a href="https://www.snapchat.com/add/sherbin_sr?share_id=mmrVwEBGgiE&locale=en-US"> <img src="../assets/pic6.jpg" width="140px" height="140px"></a>
                </div>
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase fw-bold">Do you have any projects <i class="fa-sharp fa-solid fa-lightbulb text-danger"> ? </i></h6>
                  <hr
                      class="mb-4 mt-0 d-inline-block mx-auto"
                      style="width: 60px; background-color: #7c4dff; height: 2px"
                      />
                  <p>
                     I'm  Available For Freelancer Projects <a href="mailto:sherbinsyles31@gmail.com" class="text-danger text-decoration-none">Get Hired</a>
                  </p>
                </div>
                <!-- Grid column -->
      
                <!-- Grid column -->
               
      
      
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                  <h6 class="text-uppercase fw-bold">Contact</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"
                      />
                  <p><i class="fas fa-home mr-3"></i> Kanniyakumari, India, 629172</p>
                  <p><i class="fas fa-envelope mr-3"></i> Sherbinsyles31@gmail.com</p>
                  <p><i class="fas fa-phone mr-3"></i> + 91 9677472562</p>
                  <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                         </div>
                <!-- Grid column -->
                    </div>
              <!-- Grid row -->
                </div>
          </section>
                <!-- Section: Links  -->
      
         <!-- Copyright -->
          <div class="text-center p-3"style="background-color: rgba(0, 0, 0, 0.2)">  © 2023 Copyright:
                 <a class="text-dark" href="mailto:sherbinsyles31@gmail.com">Sherbin__sr</a>
                    </div>
              <!-- Copyright -->
               </div>
        </footer>
        <!-- Footer -->
      