<!-- navabar starts -->
<nav class="navbar navbar-expand-lg navbar-light bg-Warning  fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home <i class="fa-solid fa-house"></i></a>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" (click)="about()">About <i class="fa-solid fa-user"></i></a>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" (click)="project()">My Projects <i class="fa-solid fa-code"></i></a>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contact
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="mailto:mailtosherbin@gmail.com">Email <i class="fa-solid fa-envelope"></i></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="https://wa.me/+919677472562?text=I%20Need%20your%20help...">Whatsapp <i class="fa-brands fa-whatsapp"></i></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">phone + 91 9677472562 <i class="fa-solid fa-phone"></i></a></li>
              
              </ul>
            </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-danger"><a  class="text-danger text-decoration-none" href="https://drive.google.com/file/d/1abcic2xpABDUFy02uwJUPR5znktTkQCk/view?usp=share_link"> Join</a></button>
        </form>
      </div>
    </div>
  </nav>