
.navbar li  :hover{

    color: red;
}
.fa-whatsapp{
    color: green;
}
.fa-envelope{
    color: #4285F4;
}
.html {
    scroll-behavior: smooth;
}
.btn :hover{
    color: antiquewhite;
}